@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --font-color: #5F6368;
  --primary-blue: #3478FC;
  --light-blue: #F0F5FF;
  --border-color: #5f636838;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #F8F8FF;
  padding: 68px 15px 30px;
}

* {
  box-sizing: border-box;
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

*::-webkit-scrollbar {
  background: none;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 2.5px;
}

.ant-btn-primary {
  background-color: var(--primary-blue);
  color: #fff;
}

.ant-btn-primary span {
  color: #fff;
}

.ant-btn-primary[disabled] span, .ant-btn-primary[disabled]:hover span, .ant-btn-primary[disabled]:focus span, .ant-btn-primary[disabled]:active span {
  color: rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}